svg {
    cursor: pointer;
    display: flex;
}

.option-tasks {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #d1d1d1;
    border-top: 3px solid #7b5d53;
    padding: 30px;
    display: flex;
    justify-content: center;
    
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 #000;
    
    & section {
        display: flex;
        row-gap: 10px;
        flex-direction: column;
    }
    & button {
        color: #fff;
        display: block;
       
    }
}
